body, img, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, form, div, input, textarea, span {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", "Arial";
  }
  html {
    font-size: 10px;
    height: 100%
  }
  em, i {
    font-style: normal;
  }
  body {
    background: #fff;
    color: #000;
    font-family: "微软雅黑", "Arial";
    font-size: 12px;
    height: 100%;
  }