<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.jtp.mapper.EmpMsgMapper">
<!--search作为标志位，0是未读，1是已读-->
    <select id="listEmpMsg" resultType="com.capgemini.jtp.entity.EmpMsg">
            <if test="empMsgSearch.search==0">
                SELECT a.id, a.empMsg, a.createTime
                FROM
                EmpMsg a
                LEFT JOIN hr_msg b
                ON a.id = b.msgId
                AND b.hrId = #{empMsgSearch.operationUserId,jdbcType=BIGINT}
                WHERE b.id IS NULL

            </if>
            <if test="empMsgSearch.search==1">
                SELECT a.id, a.empMsg, a.createTime
                FROM EmpMsg a
                INNER JOIN hr_msg b
                ON a.id = b.msgId
                AND b.hrId = #{empMsgSearch.operationUserId,jdbcType=BIGINT}

            </if>
<!--        </where>-->
        <if test="empMsgSearch.start != null and empMsgSearch.size != null">
            order by `id` DESC limit #{empMsgSearch.start},#{empMsgSearch.size}
        </if>
    </select>

    <select id="countEmpMsg" resultType="Long">
            <if test="empMsgSearch.search==0">
                SELECT count(*)
                FROM
                EmpMsg a
                LEFT JOIN hr_msg b
                ON a.id = b.msgId
                AND b.hrId = #{empMsgSearch.operationUserId,jdbcType=BIGINT}
                WHERE b.id IS NULL ;
            </if>

            <if test="empMsgSearch.search==1">
                SELECT count(*)
                FROM EmpMsg a
                INNER JOIN hr_msg b
                ON a.id = b.msgId
                AND b.hrId = #{empMsgSearch.operationUserId,jdbcType=BIGINT}
            </if>
    </select>

    <insert id="insertEmpMsg" parameterType="com.capgemini.jtp.entity.EmpMsg" keyProperty="id" useGeneratedKeys="true">
        insert into EmpMsg ( `empMsg`,`createTime`)
        values ( #{EmpMsg.empMsg,jdbcType=VARCHAR}, #{EmpMsg.createTime})
    </insert>

    <insert id="deleteEmpMsg" parameterType="com.capgemini.jtp.vo.employee.request.ReadMsgVo" keyProperty="id" useGeneratedKeys="true">
        insert into hr_msg ( `msgId`,`hrId`)
        values ( #{readMsgVo.id,jdbcType=BIGINT}, #{readMsgVo.createUser,jdbcType=BIGINT})
    </insert>



</mapper>