<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.jtp.mapper.RegisterMapper">

    <select id="getEmpEmail" resultType="String" parameterType="com.capgemini.jtp.vo.employee.request.RegisterInfoVo">
        select email  from employee where empId=#{registerInfoVo.empId,jdbcType=BIGINT} and isDeleted=0;
    </select>

    <insert id="insertVerCode" parameterType="com.capgemini.jtp.entity.RegisterInfo" >
        insert into `VerfiCode` (`Verficode`,`createTime`) values (#{registerInfo.verfiCode,jdbcType=BIGINT},#{registerInfo.createTime})
    </insert>

    <select id="getId" parameterType="int" resultType="Long">
        select id from `VerfiCode` where Verficode = #{id}
    </select>

    <select id="getUsername" resultType="String" parameterType="com.capgemini.jtp.vo.employee.request.RegisterInfoVo">
        select username from hr where username  = #{registerInfoVo.username,jdbcType=VARCHAR}
    </select>

    <select id="getVerCode" parameterType="com.capgemini.jtp.vo.employee.request.RegisterInfoVo" resultType="int">
        select Verficode from `VerfiCode` where id = #{registerInfoVo.codeId,jdbcType=BIGINT}
    </select>

    <select id="getUserChineseName" resultType="String" parameterType="com.capgemini.jtp.vo.employee.request.RegisterInfoVo">
        select chineseName from employee where empId=#{registerInfoVo.empId,jdbcType=BIGINT} and isDeleted=0;
    </select>

    <insert id="insertUser" parameterType="com.capgemini.jtp.entity.RegisterInfo" >
        insert into `hr` (`id`,`name`,`enabled`,`username`,`password`)
        values (#{registerInfoVo.empId,jdbcType=BIGINT},
        #{registerInfoVo.chineseName,jdbcType=VARCHAR},
        1,
        #{registerInfoVo.username,jdbcType=VARCHAR},
        #{registerInfoVo.password,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertHrRole" parameterType="com.capgemini.jtp.entity.RegisterInfo">
        insert into `hr_role`(`hrid`,`rid`)
        values (#{registerInfoVo.empId,jdbcType=BIGINT},
        1
        )
    </insert>

    <select id="findUser" parameterType="com.capgemini.jtp.entity.RegisterInfo" resultType="String">
        select username from hr where id  = #{registerInfoVo.empId,jdbcType=BIGINT}
    </select>

    <select id="getVeriCodenCreateTime" parameterType="com.capgemini.jtp.vo.employee.request.RegisterInfoVo" resultType="java.util.Date">
        select `createTime` from `VerfiCode` where id = #{registerInfoVo.codeId,jdbcType=BIGINT}
    </select>

</mapper>